<div id="<%= dom_id invoice_temp %>">
  <p>
    <strong>Cliente name:</strong>
    <%= invoice_temp.cliente_name %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= invoice_temp.total %>
  </p>

  <p>
    <strong>Value delivered customer:</strong>
    <%= invoice_temp.value_delivered_customer %>
  </p>

  <p>
    <strong>Customer change:</strong>
    <%= invoice_temp.customer_change %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= invoice_temp.payment_method %>
  </p>

  <p>
    <strong>Code cart:</strong>
    <%= invoice_temp.code_cart %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= invoice_temp.profile_id %>
  </p>

</div>
