<div id="<%= dom_id item %>">
  <p>
    <strong>Name item:</strong>
    <%= item.name_item %>
  </p>

  <p>
    <strong>Manufacturing date:</strong>
    <%= item.manufacturing_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= item.expiration_date %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= item.tax %>
  </p>

  <p>
    <strong>Item code:</strong>
    <%= item.item_code %>
  </p>

  <p>
    <strong>Profite value:</strong>
    <%= item.profite_value %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= item.supplier_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= item.profile_id %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= item.sector_id %>
  </p>

</div>
