<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name supplier:</strong>
    <%= supplier.name_supplier %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= supplier.whatsapp %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= supplier.telephone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= supplier.address_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= supplier.profile_id %>
  </p>

</div>
