<!DOCTYPE html>
<html>
  <head>
    <title>Venx</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% cache do %> 
      <%= render 'layouts/header' %>
    <% end %> 

    <%= render 'layouts/info' if info %>
    <%= render 'layouts/message' if notice %>
    <%= render 'layouts/alert' if alert %> 

    <%= yield %>
  
  </body>
</html>
